.wrapper{
  margin: 70px 0;
  height: 270px;
}

.card{
  width: 60%;
  background-color: rgba(54, 54, 54, 0.35);
  color: white;
  border: #2f2f2f 1px solid;

}

.stepper{
  background-color: rgba(255, 255, 255, 0.06);
  padding: 40px;
  border-radius: 10px;
}

.info{
  padding: 20px 50px 50px 50px;
}

.info_input{
  background-color: rgba(58, 58, 58, 0.13);
  margin-top: 20px ;
}
